:root {
    --light-white: #fafaf9; /* for header */
    --dark-white: #e7e5e4; 
    --gray: #d6d3d1; /*for main bg's color*/
    --black: #1c1917; /*for buttons */
    --red: #991b1b; /* for remove button */
    --yellow: #facc15; /* for in progress button */
    --green: #166534; /*for read button */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* header start */


header {
    background-color: var(--light-white);
    min-height: 1fr;
}

.header-container {
    display: flex;
    padding: 1.6rem;
}


/* header end */





/* main-body start */


main {
    background-color: var(--gray);
    height: 100%;
    padding: 25px;
}

.btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}

.btn-container > button {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
}

.btn-container > button:hover {
    background-color: var(--black);
    color: var(--light-white);
}


/* modal start */
.modal > h2 {
    text-align: center;
}
#book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  height: 2rem;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  width: 300px;
  padding: 1.3rem;
  min-height: 350px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}


/*modal end */


.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 50px;
}


/*main-body end */




footer {
    background-color: var(--black);
    color: var(--dark-white);
    min-height: 0.5fr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}